html{
    font-size :65%;
}

body {
    background-color :#6795ae;
    color :#FFEB3B;
    font-size: 2.67rem;
    width :100%;
    max-width :500px;
    margin : auto 0;
    padding : 1rem 2rem;
}

#word{
    font-size :150%;
}

button {
    width :45%;
    height :3rem;
    font-size :85%;
}

#result p{
    margin :0;
}

#cntPlayers p{
    margin-bottom: 0;        
}

#cntPlayers input{
    display: inline-block; 
    margin: 0;
    height :3rem;       
}

#inp:invalid {
    border :2px solid red;
    color :red;
}
