html{
    font-size :65%;
}

body {
    background-color :#6795ae;
    color :#FFEB3B;
    font-size: 2.67rem;
    width :100%;
    max-width :500px;
    margin : auto 0;
    padding : 1rem 2rem;
}

#word{
    font-size :150%;
    margin-top :10px;
}

button {
    width :45%;
    height :3rem;
    font-size :85%;
}

#playButton {
    height :3.2rem;
    width :3.2rem;
    display: block;
    margin-top :10px;
}

#playButton:hover {
    outline :1px solid #f6bb14;
}

#result p{
    margin :3px;
}

#cntPlayers p{
    margin-bottom: 0;        
}

#cntPlayers input{
    display: inline-block;
    margin: 0;
    height: 3rem;
    vertical-align :bottom;
    box-sizing :border-box;
}

#inp:invalid {
    border :2px solid red;
    color :red;
}